Solucion Homework: variables y tipos de datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 1 
print(a)

1

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [6]:
mi_nombre = "Lucia Muzzo"

5) Crear una variable que contenga un número complejo

In [7]:
n_complejo = 1 + 2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
#pregunta engañosa (atencion a los apartados. LEER BIEN)

var1 = "True"
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [13]:
print ("la variable 1 es de tipo" , type(var1) , "y la variable 2 es de tipo", type(var2))

la variable 1 es de tipo <class 'str'> y la variable 2 es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
c = 5 + 1.2

11) Realizar una operación de suma de números complejos

In [15]:
d = 1 + 2j
e = 3 + 4j 
print(d + e)

(4+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [20]:
f = d + 3
print(f)

(4+2j)

13) Realizar una operación de multiplicación

In [21]:
print(5 * 3)

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [22]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
g = 27 / 4
print(g)

6.75

16) De la división anterior solamente mostrar la parte entera

In [24]:
print( 27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultad

In [26]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [31]:
var1 = "invierno "
var2 = "frio"
print(var1 + var2)

invierno frio

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [33]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [35]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [37]:
#creo que es porque no se puede convertir una palabra en un numero decimal. el cual tambien esta mal porque se escribe con punto y no con coma
a = float("3,8")

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [41]:
#creo que el apartado se olvidaron de poner la condicion de - al 3 porque en los resueltos figura -3 
h = -3 
h -= 1 
print(h)

-4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [42]:
1 << 2

4